sheduling the job for observing the docker service.
=============
crontab -l to check wheather we have any sheduled job
create a script with name of docker_servce_check.sh
#!/bin/bash
echo "=====status check docker service====="
status ="` systemctl status docker |awk 'NR==3 {print}'|cut -d ':' -f 2|cut -d '(' -f 1`"
echo $status
if[ $status = "active"];
then
  echo "service is running fine"
else
   echo "service is not running fine"
fi

cronetab -e
* * * * * /home/ec2-user/docker_servce_check.sh > /dev/null
:wq

systemctl status docker (if it was inactive start docker)
systemctl stop docker
and check the status again now it will automatically starts 

